  <% include ../partials/header %>

<div class="row">
  <h1>Welcome to the products page  <br>
  <div class="grid-container">
         <% res1.forEach(function(product) { %>
        <form accept-charset="UTF-8" action="/cart/<%= product.Id %>" method="post"> 
           <div class="item">     
                <div class="item">
                   <h1 class="itemtitle">Id: <%= product.Id %></h1>
                   <p class="itemp"> <%= product.Name %></p>
                    <%= product.Price %><br>
                    <image class="pimage" src="/<%= product.Image %>"></image>
                    <a href="/edit/<%= product.Id %>" class="button">Edit Product</a>
                   
                   <!-- Hidden values to send the details to app.js -->
                   
                   <input id="prodId" name="name" type="hidden" value="<%= product.Name %>">
                   
                   
                    <button class="button">New Add</button>
                   
                     
                    </div>
              </div>
            </form>
         <% }); %>
    </div>
  </h1>
</div>


<label for="sport">Sport:</label>
<input name="sport" type="text" placeholder="Enter a Sport" />






<% include ../partials/footer %>